.wishlist {
  width: 100%;
  padding: 1rem 4rem;
}
.wishlist h1 {
  margin-bottom: 1rem;
}

.link {
  margin: 0 4px;
  text-decoration: underline;
  font-style: italic;
  font-weight: 500;
  color: var(--primary-700);
}
.products {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(18rem, 1fr));
  gap: 1rem;
  padding: 0rem 2rem 2rem 0;
}

@media screen and (max-width: 880px) {
  .products {
    margin: 0 2rem;
    padding: 0 1rem;
    padding-bottom: 2rem;
  }
  .wishlist {
    width: 100%;
    padding: 1rem 2rem;
  }
}
@media screen and (max-width: 500px) {
  .products {
    margin: 0;
  }
  .wishlist {
    padding: 0;
  }
  .wishlist h1 {
    margin-top: 1rem;
    margin-left: 1rem;
    font-size: 1.2rem;
  }
}
